/* blogview.css */

.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.blog-heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    text-transform: uppercase; /* Convert heading text to uppercase */
}

.blog-post {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.post-image {
    flex: 0 0 auto;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-image img {
    max-width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

.post-image img:hover {
    transform: scale(1.05);
}

.post-content {
    flex: 1;
}

.post-title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold; /* Add bold font weight to titles */
}

.post-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #666;
}

.read-more-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.read-more-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.post-divider {
    border: none;
    margin-top: 30px;
}
